type {{ .opts.Name.String }} {
	{{- range .opts.Attrs }}
		{{ .Name.Camelize  }}: {{ .GraphqlType }}
	{{- end }}
}

type {{.opts.Name.String}}Items {
	items: [{{ .opts.Name.String }}]!
	pagination: Pagination
}

input Create{{ .opts.Name.String }}Input {
	{{- range .opts.Attrs -}}
		{{- if and (ne .Name.String "id") (ne .Name.String "created_at") ((ne .Name.String "updated_at")) }}
			{{ .Name.Camelize }}: {{ .GraphqlType }}
		{{- end }}
	{{- end }}
}

input Update{{ .opts.Name.String }}Input {
	{{- range .opts.Attrs -}}
		{{- if and (ne .Name.String "created_at") ((ne .Name.String "updated_at")) }}
			{{ .Name.Camelize }}: {{ .GraphqlType }}
		{{- end }}
	{{- end }}
}

input Delete{{ .opts.Name.String }}Input {
	id: ID!
}

extend type Query {
	{{ .opts.Name.Singularize.Camelize }}(id: ID!): {{ .opts.Name }} @generated(type: "get")
	{{ .opts.Name.Pluralize.Camelize }}(page: Int, perPage: Int): {{.opts.Name.String}}Items @generated(type: "list")
}

extend type Mutation {
  create{{ .opts.Name }}(input: Create{{ .opts.Name }}Input!): {{ .opts.Name }} @generated(type: "create")
  update{{ .opts.Name }}(input: Update{{ .opts.Name }}Input!): {{ .opts.Name }} @generated(type: "update")
  delete{{ .opts.Name }}(input: Delete{{ .opts.Name.String }}Input!): {{ .opts.Name }} @generated(type: "delete")
}
