package dashi

import (
  "github.com/gobuffalo/pop"
)

type ServerConfig struct {
  Port int `mapstructure:"port"`
}

type Config struct {
  Server   *ServerConfig          `mapstructure:"server"`
  Database *pop.ConnectionDetails `mapstructure:"database"`
}
