package {{.opts.Package}}

import (
{{- range $i := .model.Imports }}
	"{{$i}}"
{{- end }}
)

type {{.model.Name.Proper}} struct {
	{{- range $a := .opts.Attrs }}
		{{$a.Name.Pascalize}} {{$a.GoType}} `{{$.model.Encoding}}:"{{$a.Name.Underscore}}" db:"{{$a.Name.Underscore}}"`
	{{- end }}
}
