import React from 'react';
import { Link } from 'components';
import { useParams, useNavigate } from 'react-router-dom';
import { useQuery, useMutation } from '@apollo/react-hooks';
import { gql } from 'apollo-boost';
import { {{.opts.Name}}Form } from 'components/src/{{.opts.Name.Pluralize.ToLower}}';

const {{.opts.Name}}EditPage = () => {
  const { id } = useParams();
  const navigate = useNavigate();
  const { loading, error, data } = useQuery(GET_{{.opts.Name.Underscore.ToUpper}}, { variables: { id } });
  const [update{{.opts.Name}}] = useMutation(UPDATE_{{.opts.Name.Underscore.ToUpper}});

  function handleSubmit(values, { setSubmitting }) {
    update{{.opts.Name}}({variables: { input: values }})
      .then((data) => {
        setSubmitting(false);
        navigate(`/{{.opts.Name.Pluralize.ToLower}}/${id}`)
      })
      .catch((err) => {
        console.warn(err);
        setSubmitting(false);
      });
  }

  if (loading) return <p>Loading...</p>;
  if (error) return <p>Error :(</p>;

  return (
    <div>
      <h2>Edit {{.opts.Name}}</h2>
      <Link to="/{{.opts.Name.Pluralize.ToLower}}">Back</Link>
      <{{.opts.Name}}Form
        initialValues={data.{{.opts.Name.Camelize}}}
        onSubmit={handleSubmit}
      />
    </div>
  );
};

const GET_{{.opts.Name.Underscore.ToUpper}} = gql`
  query {{.opts.Name}}($id: ID!) {
    {{.opts.Name.Camelize}}(id: $id) {
      id
      {{- range .opts.Attrs }}
        {{ .Name.Camelize }}
      {{- end }}
      createdAt
      updatedAt
    }
  }
`

const UPDATE_{{.opts.Name.Underscore.ToUpper}} = gql`
  mutation Update{{.opts.Name}}($input: Update{{.opts.Name}}Input!) {
    update{{.opts.Name}}(input: $input) {
      id
    }
  }
`;


export default {{.opts.Name}}EditPage;
