import React from 'react';
import { Link } from 'components';
import { useQuery } from '@apollo/react-hooks';
import { gql } from 'apollo-boost';
import { {{.opts.Name.Pascalize}}Table } from 'components/src/{{.opts.Name.Dasherize.Pluralize}}';

const {{.opts.Name.Pascalize}}HomePage = () => {
  const { loading, data, error } = useQuery(GET_{{.opts.Name.Pluralize.ToUpper}});

  function handleDelete(item) {}

  function handleEdit(item) {}

  if (loading) return <p>Loading...</p>;
  if (error) return <p>Error :(</p>;

  return (
    <div>
      <h2>{{.opts.Name.Pascalize.Pluralize}}</h2>
      <Link to="/{{.opts.Name.Dasherize.Pluralize}}/new">New {{.opts.Name.Pascalize}}</Link>
      <{{.opts.Name.Pascalize}}Table data={data.{{.opts.Name.Dasherize.Pluralize}}.items} onDelete={handleDelete} onEdit={handleEdit} />
    </div>
  );
};

const GET_{{.opts.Name.Pluralize.ToUpper}} =  gql`
  query {{.opts.Name.Pascalize.Pluralize}} {
    {{.opts.Name.Dasherize.Pluralize}} {
      items {
        {{- range .opts.Attrs }}
          {{ .Name.Camelize }}
        {{- end }}
      }
    }
  }
`

export default {{.opts.Name.Pascalize}}HomePage;
