import React from 'react';
import { Link } from 'kit';
import { useQuery } from '@apollo/react-hooks';
import { gql } from 'apollo-boost';
import { {{.opts.Name.Pascalize}}Table } from 'components/{{.opts.Name.Dasherize.Pluralize}}';

const {{.opts.Name.Pascalize}}HomePage = () => {
  const { loading, data, error } = useQuery(gql`
    query {{.opts.Name.Pascalize.Pluralize}} {
      {{.opts.Name.Dasherize.Pluralize}} {
        items {
		      {{- range .opts.Attrs -}}
		        {{- if ne .Name.Camelize.String "ID"  }}
		          {{ .Name.Camelize }}
		        {{- end }}
		      {{- end }}
        }
      }
    }
  `);

  function handleDelete(item) {}

  function handleEdit(item) {}

  if (loading) {
    return <div>Loading...</div>;
  }

  if (error) {
    return <div>Error</div>;
  }

  return (
    <div>
      <h2>{{.opts.Name.Pascalize.Pluralize}}</h2>
      <Link to="/{{.opts.Name.Dasherize.Pluralize}}/new">New {{.opts.Name.Pascalize}}</Link>
      <{{.opts.Name.Pascalize}}Table data={data.{{.opts.Name.Dasherize.Pluralize}}.items} onDelete={handleDelete} onEdit={handleEdit} />
    </div>
  );
};

export default {{.opts.Name.Pascalize}}HomePage;
