import React from 'react';
import { Link } from 'components';
import { useQuery, useMutation } from '@apollo/react-hooks';
import { gql } from 'apollo-boost';
import { {{.opts.Name}}Table } from 'components/src/{{.opts.Name.Pluralize.ToLower}}';

const {{.opts.Name}}HomePage = () => {
  const { loading, data, error, refetch } = useQuery(GET_{{.opts.Name.Pluralize.Underscore.ToUpper}});
  const [delete{{.opts.Name}}] = useMutation(DELETE_{{.opts.Name.ToUpper}});

  function handleDelete(item) {
    delete{{.opts.Name}}({variables: { input: item.id }}).then(() => {
      refetch();
    }).catch(err => {
      console.warn(err);
      alert('Delete failed');
    });
  }

  if (loading) return <p>Loading...</p>;
  if (error) return <p>Error :(</p>;

  return (
    <div>
      <h2>{{.opts.Name.Pluralize}}</h2>
      <Link to="/{{.opts.Name.Pluralize.ToLower}}/new">New {{.opts.Name}}</Link>
      <{{.opts.Name}}Table data={data.{{.opts.Name.Camelize.Pluralize}}.items} onDelete={handleDelete} />
    </div>
  );
};

const GET_{{.opts.Name.Pluralize.Underscore.ToUpper}} =  gql`
  query {{.opts.Name.Pluralize}} {
    {{.opts.Name.Camelize.Pluralize}} {
      items {
        id
        {{- range .opts.Attrs }}
          {{ .Name.Camelize }}
        {{- end }}
        createdAt
        updatedAt
      }
    }
  }
`

const DELETE_{{.opts.Name.ToUpper}} = gql`
  mutation Delete{{.opts.Name.Pascalize}} {
    delete{{.opts.Name.Pascalize}}(input: $input) {
      id
    }
  }
`

export default {{.opts.Name.Pascalize}}HomePage;
