export {{.opts.Name.Pascalize}}HomePage from './home';
export {{.opts.Name.Pascalize}}Page from './show';
export {{.opts.Name.Pascalize}}EditPage from './edit';
export {{.opts.Name.Pascalize}}NewPage from './new';
