import React from 'react';
import { gql, useMutation } from '@apollo/client'
import { useNavigate } from 'react-router-dom';
import { PageHeader } from 'components/src';
import { {{.opts.Name}}Form } from 'components/src/{{.opts.Name.Pluralize.ToLower}}';

const {{.opts.Name}}NewPage = (props) => {
  const navigate = useNavigate();
  const [create{{.opts.Name}}] = useMutation(CREATE_{{.opts.Name.ToUpper}});

  function handleSubmit(values, { setSubmitting }) {
    return create{{.opts.Name}}({variables: { input: values }}).then((resp) => {
      setSubmitting(false)
      navigate(`/{{.opts.Name.Pluralize.ToLower}}/${resp.data.create{{.opts.Name}}.id}`)
    }).catch((err) => {
      console.error(err);
      setSubmitting(false);
      alert('Create failed')
    })
  }

  return (
    <div>
      <PageHeader title="New {{.opts.Name}}" />
      <{{.opts.Name}}Form
        initialValues={{"{{"}}
        {{"}}"}}
        onSubmit={handleSubmit}
      />
    </div>
  );
};

const CREATE_{{.opts.Name.ToUpper}} = gql`
  mutation Create{{.opts.Name}}($input: Create{{.opts.Name}}Input!) {
    create{{.opts.Name}}(input: $input) {
      id
    }
  }
`;

export default {{.opts.Name}}NewPage;
