import React from 'react';
import { Link } from 'components';
import { useParams } from 'react-router-dom';
import { useQuery } from '@apollo/react-hooks';
import { gql } from 'apollo-boost';

const {{.opts.Name.Pascalize}}Page = () => {
  const { id } = useParams();
  const { loading, error, data } = useQuery(GET_{{.opts.Name.ToUpper}}, { variables: { id }});

  if (loading) return <p>Loading...</p>;
  if (error) return <p>Error :(</p>;

  return (
    <div>
      <h2>{{.opts.Name.Pascalize}}</h2>
      {{- range .opts.Attrs -}}
        <div>{{ .Name.Pascalize }}: { data.{{ .Name.Camelize }} }</div>
      {{- end }}
      <Link to={`/{{.opts.Name.Dasherize.Pluralize}}/${id}/edit`}>Edit</Link>
    </div>
  );
};

const GET_{{.opts.Name.ToUpper}} = gql`
  query {{.opts.Name.Pascalize}}($id: ID!) {
    {{.opts.Name.ToLower}}(id: $id) {
      {{- range .opts.Attrs }}
        {{ .Name.Camelize }}
      {{- end }}
    }
  }
`

export default {{.opts.Name.Pascalize}}Page;
