package database

import (
  "github.com/spf13/cobra"
)

var DropCmd = &cobra.Command{
  Use:   "drop",
  Short: "Database drop",
  RunE: func(cmd *cobra.Command, args []string) error {
    return DatabaseDrop()
  },
}
