package database

import (
  "github.com/spf13/cobra"
  "{{ .opts.Package }}/server"
)

var MigrateCmd = &cobra.Command{
  Use:   "migrate",
  Short: "Database migrate",
  RunE: func(cmd *cobra.Command, args []string) error {
    s, err := server.NewServer()
    if err != nil {
      return err
    }

    return s.DatabaseMigrate()
  },
}
