package database

import (
  "github.com/spf13/cobra"
)

var MigrateCmd = &cobra.Command{
  Use:   "migrate",
  Short: "Database migrate",
  RunE: func(cmd *cobra.Command, args []string) error {
    return DatabaseMigrate()
  },
}
