package database

import (
  "github.com/spf13/cobra"
)

var RollbackCmd = &cobra.Command{
  Use:   "rollback",
  Short: "Database rollback",
  RunE: func(cmd *cobra.Command, args []string) error {
    return DatabaseRollback()
  },
}
