{{ if isCRUDResolver .Field "create"}}
	{{ template "create" .}}
{{ else if isCRUDResolver .Field "list" }}
	{{ template "list" . }}
{{ else if isCRUDResolver .Field "get" }}
	{{ template "get" . }}
{{ else if isCRUDResolver .Field "update" }}
	{{ template "update" . }}
{{ else if isCRUDResolver .Field "delete" }}
	{{ template "delete" . }}
{{ end }}

{{ define "create" }}
	{{ $input := index .Field.Args 0 -}}
	{{ $entity := .Field.TypeReference.Definition.Name | lcFirst -}}
	{{ $entityType := .Field.TypeReference.Definition.Name | go -}}
	{{ $entity }} := &models.{{ $entityType }}{
		{{ range $o := $input.TypeReference.Definition.Fields -}}
			{{ $o.Name | go }}: {{$input.Name}}.{{ $o.Name | go }},
		{{ end }}
	}

	err := r.Conn.Create({{$entity}})
	if err != nil {
		return nil, err
	}

	return {{$entity}}, nil
{{ end }}

{{ define "update" }}
	{{- $input := index .Field.Args 0 -}}
	{{- $entity := .Field.TypeReference.Definition.Name | lcFirst -}}
	{{- $entityType := .Field.TypeReference.Definition.Name | go -}}
	{{ $entity }} := &models.{{ $entityType -}}{}
	err := r.Conn.Find({{$entity}}, input.ID)
	if err != nil {
		return nil, err
	}

	{{ range $o := $input.TypeReference.Definition.Fields -}}
		{{- if ne $o.Name "id" -}}
			{{$entity}}.{{$o.Name | go}} = {{$input.Name}}.{{ $o.Name | go }}
		{{ end -}}
	{{ end }}

	err = r.Conn.Update({{$entity}})
	if err != nil {
		return nil, err
	}

	return {{$entity}}, nil
{{ end }}

{{ define "delete" }}
	{{- $entity := .Field.TypeReference.Definition.Name | lcFirst -}}
	{{- $entityType := .Field.TypeReference.Definition.Name | go -}}
	{{$entity}} := &models.{{$entityType}}{}
	err := r.Conn.Find({{$entity}}, input.ID)
	if err != nil {
		return nil, err
	}

	err = r.Conn.Destroy({{$entity}})
	if err != nil {
		return nil, err
	}

	return {{$entity}}, nil
{{ end }}

{{ define "get" }}
	{{- $entity := .Field.TypeReference.Definition.Name | lcFirst -}}
	{{- $entityType := .Field.TypeReference.Definition.Name | go -}}
	{{$entity}} := &models.{{$entityType}}{}
	err := r.Conn.Find({{$entity}}, id)
	if err != nil {
		return nil, err
	}

	return {{$entity}}, nil
{{ end }}

{{ define "list" }}
	{{- $resultType := .Field.TypeReference.Definition.Name | go  -}}
	{{- $entityType :=  $resultType | entityFromResult -}}
	{{- $entity := $entityType | lcFirst | pluralize -}}
	{{$entity}} := &[]*models.{{$entityType}}{}
	err := r.Conn.All({{$entity}})
	if err != nil {
		return nil, err
	}

	return *{{$entity}}, nil
{{ end }}
