import React from 'react';
import { Form, FormGroup, FormSubmit } from 'components';

const {{.opts.Name}}Form = (props) => {
  return (
    <Form {...props}>
      {{- range .opts.Attrs -}}
        {{- if ne .Name.Camelize.String "ID"  }}
          <FormGroup name="{{ .Name.Camelize }}" label="{{ .Name.Pascalize }}" />
        {{- end }}
      {{- end }}
      <FormSubmit />
    </Form>
  );
};

export default {{.opts.Name}}Form;
