import React from 'react';
import { Link, Table } from 'components';

const {{.opts.Name}}Table = ({ data, onDelete }) => {
  function handleClick(e, tool) {
    e.preventDefault();

    if (window.confirm('Delete?')) {
      onDelete(tool);
    }
  }

  return (
    <Table
      keyExtractor={(row) => row.id}
      data={data}
      columns={[
      {{- range .opts.Attrs -}}
        {{- if ne .Name.Camelize.String "ID"  }}
        { key: '{{ .Name.Camelize }}', title: '{{ .Name.Pascalize }}' },
        {{- end }}
      {{- end }}
        { key: 'createdAt', title: 'CreatedAt' },
        { key: 'updatedAt', title: 'UpdatedAt' },
        {
          key: 'action',
          title: 'Action',
          render: (item) => (
            <div>
              <Link to={`/{{.opts.Name.Pluralize.ToLower}}/${item.id}`}>View</Link>&middot;
              <Link to={`/{{.opts.Name.Pluralize.ToLower}}/${item.id}/edit`}>Edit</Link>&middot;
              <a href="#" onClick={(e) => handleClick(e, item)}>
                Delete
              </a>
            </div>
          ),
        },
      ]}
    />
  );
};

export default {{.opts.Name}}Table;
