import React from 'react';
import { Link, Table } from 'kit';

const {{.opts.Name.Pascalize}}Table = ({ data, onDelete }) => {
  function handleClick(e, tool) {
    e.preventDefault();

    if (window.confirm('Delete?')) {
      onDelete(tool);
    }
  }

  return (
    <Table
      keyExtractor={(row) => row.id}
      data={data}
      columns={[
        { key: 'name', title: 'Name' },
        { key: 'key', title: 'Key' },
        { key: 'icon', title: 'Icon' },
        { key: 'about', title: 'About' },
        { key: 'website', title: 'Website' },
        { key: 'created_at', title: 'CreatedAt' },
        { key: 'updated_at', title: 'UpdatedAt' },
        {
          key: 'action',
          title: 'Action',
          render: (item) => (
            <div>
              <Link to={`/tools/${item.id}`}>View</Link>
              <Link to={`/tools/${item.id}/edit`}>Edit</Link>
              <a href="#" onClick={(e) => handleClick(e, item)}>
                Delete
              </a>
            </div>
          ),
        },
      ]}
    />
  );
};

export default {{.opts.Name.Pascalize}}Table;
