schema:
  - schema/*.graphql

exec:
  filename: generated/graphql.go
  package: generated

model:
  filename: generated/models.go
  package: generated

resolver:
  layout: follow-schema
  dir: api/resolvers
  package: resolvers

autobind:
  - {{ .opts.Package }}/models

models:
  ID:
    model:
      - github.com/swiftcarrot/dashi/types.ID
      - github.com/swiftcarrot/dashi/types.UUID
  Int:
    model:
      - github.com/99designs/gqlgen/graphql.Int
  UUID:
    model:
      - github.com/swiftcarrot/dashi/types.UUID
  String:
    model:
      - github.com/swiftcarrot/dashi/types.String
  Float:
    model:
      - github.com/99designs/gqlgen/graphql.Float
  Time:
    model:
      - github.com/99designs/gqlgen/graphql.Time
  Map:
    model:
      - github.com/99designs/gqlgen/graphql.Map
      - github.com/swiftcarrot/dashi/types/slices.Map
