# Where are all the schema files located? globs are supported eg  src/**/*.graphqls
schema:
  - schema/*.graphql

# Where should the generated server code go?
exec:
  filename: graphql/generated.go
  package: graphql

# Uncomment to enable federation
# federation:
#   filename: graph/generated/federation.go
#   package: generated

# Where should any generated models go?
model:
  filename: models/generated.go
  package: models

# Where should the resolver implementations go?
resolver:
  layout: follow-schema
  dir: resolvers
  package: resolvers

# Optional: turn on use `gqlgen:"fieldName"` tags in your models
# struct_tag: json

# Optional: turn on to use []Thing instead of []*Thing
# omit_slice_element_pointers: false

# Optional: set to speed up generation time by not performing a final validation pass.
# skip_validation: true

# gqlgen will search for any type names in the schema in these go packages
# if they match it will use them, otherwise it will generate them.
autobind:
  - '{{ .opts.Package }}/models'

# This section declares type mapping between the GraphQL and go type systems
#
# The first line in each type will be used as defaults for resolver arguments and
# modelgen, the others will be allowed when binding to fields. Configure them to
# your liking
models:
  ID:
    model:
      - github.com/99designs/gqlgen/graphql.ID
      - github.com/99designs/gqlgen/graphql.Int
      - github.com/99designs/gqlgen/graphql.Int64
      - github.com/99designs/gqlgen/graphql.Int32
  Int:
    model:
      - github.com/99designs/gqlgen/graphql.Int
      - github.com/99designs/gqlgen/graphql.Int64
      - github.com/99designs/gqlgen/graphql.Int32
      - github.com/swiftcarrot/dashi/graphql.NullsInt32
      - github.com/swiftcarrot/dashi/graphql.NullsInt64
      - github.com/swiftcarrot/dashi/graphql.NullsInt
  Time:
    model:
      - github.com/99designs/gqlgen/graphql.Time
      - github.com/swiftcarrot/dashi/graphql.NullsTime
  Int64:
    model:
      - github.com/99designs/gqlgen/graphql.Int64
      - github.com/swiftcarrot/dashi/graphql.NullsInt64
  Float:
    model:
      - github.com/99designs/gqlgen/graphql.Float
      - github.com/swiftcarrot/dashi/graphql.NullsFloat
  String:
    model:
      - github.com/swiftcarrot/dashi/graphql.String
      - github.com/swiftcarrot/dashi/graphql.NullsString
  UUID:
    model:
      - github.com/swiftcarrot/dashi/graphql.UUID
      - github.com/swiftcarrot/dashi/graphql.NullsUUID
