package main

import (
	"embed"

	"{{ .opts.Package }}/cmd"
	"{{ .opts.Package }}/cmd/database"
)

//go:embed migrations
var migrationsFS embed.FS

func main() {
	database.MigrationsFS = migrationsFS

  cmd.Execute()
}
