package cmd

import (
	"github.com/spf13/cobra"
	"{{ .opts.Package }}/api"
)

var serverCmd = &cobra.Command{
	Use:   "server",
	Short: "Start server",
	Aliases: []string{"s"},
	RunE: func(cmd *cobra.Command, args []string) error {
   		server, err := api.NewServer()
   		if err != nil {
   			return err
   		}

		return server.ListenAndServe()
	},
}

func init() {
	rootCmd.AddCommand(serverCmd)
}
